body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    gap: 20px;
}
/* header styling */
.header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-wrap: wrap;
}

.hero {
    display:flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    width: 80px;
    height: 30px;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    background-color: #3882F6;
    cursor: pointer;
    margin-bottom: 50px;
}

.text{
    display: flex;
    flex-direction: column;
    width: 450px;
    
}
.main-img {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    width: 400px;
    height: 200px;
    margin-bottom: 50px;
}
/* infromation syling */
h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.columned {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.information p{
    width: 200px;
    text-align: center;
    color:grey;
    font-size: 13px;
    padding: 0;
}

.box {
    border: solid #3882F6;
    border-radius: 8px;
    height: 200px;
    width: 200px;
}
/* quote section styling */
.quote {
    background-color:#E5E7EB ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #47475a;
    font-style: italic;
    font-size: 36px;
    
}

.quote-box {
    display: flex;
    flex-basis: 950px;
    flex-shrink: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.author {
    display: flex;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    justify-content: flex-end;
}
/* Call to action banner styling */
.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.sign-up-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 700px;
    background-color: #3882F6;
    border-radius: 8px;

}

.sign-up-text p{
    margin: 0;

}

.sign-up-box p:nth-child(1){
    color: #F9FAF8;
}
.sign-up-box p:nth-child(2){
    color:#E5E7EB;
    font-size: 13px;
}
.sign-up-box button{
    background-color: transparent;
    border: 1px solid #F9FAF8; 
    border-radius: 8px;
    color: #F9FAF8;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin-left: 30px;
}

/* footer */
.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    color: #E5E7EB;
    height: 70px;
}